.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo{
    width: 120px;
}

.nav-items>ul{
    display: flex;
    list-style-type: none;
}

.nav-items > ul > li{
    padding: 10px;
    margin: 10px;
    font-size: 24px;
}

.search{
    border: 1px solid black;
    padding: 10px;
}
.filter-btn{
    margin: 5px;
    cursor: pointer;
}

.res-container{
    display: flex;
    flex-wrap: wrap;
    margin: 2px 0px;

}
.res-logo{
    margin: 8px 8px 8px 0px;
    background-color: #ebeaea;
    width: 235px;
    padding: 8px;
}

.res-logo>img{
    width: 100%;
    height: 60%;
}
.res-logo:hover{
    border: 1px solid black;
    background-color: rgb(224, 222, 222);
    cursor: pointer;
}
.res-details>p{
    margin: 2px;
    padding: 1px;
}
.res-details>h4{
    margin: 1px;
    padding: 1px;
}

.shimmer-cards{
    display: flex;
    flex-wrap: wrap;
}
.shimmer-card{
    width: 240px;
    height: 320px;
    background-color: #f0f0f0;
    margin: 10px 15px 10px 0px;
}

.shimmer-search{
    margin: 10px 0px;
    width: 40%;
    height: 40px;
    background-color: #f0f0f0;
}
.shimmer-cardDetails1{
    margin: 10px 0px;
    width: 200px;
    height: 20px;
    background-color: #f0f0f0;
}
.shimmer-cardDetails2{
    margin: 10px 0px;
    width: 150px;
    height: 20px;
    background-color: #f0f0f0;
}
.spinner-img{
    margin-left: auto;
    margin-right: auto;
}

.login-btn{
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: medium;
}