.header{
    display: flex;
    justify-content: space-between;
    box-shadow: 2px 0px 10px grey;
    width: 100%;
}

.logo{
    width: 120px;
}

.nav-items>ul{
    display: flex;
    list-style-type: none;
}

.links{
    padding: 10px;
    margin: 10px;
    text-decoration:dotted;
    font-size: 24px;
}

.body-container{
    margin-left: 5%;
    margin-right: 5%;
}
.search{
    border: 1px solid black;
    padding: 10px;
}
.filter-btn{
    margin: 5px;
    cursor: pointer;
}

.res-container{
    display: flex;
    flex-wrap: wrap;
    margin: 2px 0px;

}
.res-logo{
    margin: 8px 12px 8px 0px;
    background-color: #ebeaea;
    width: 265px;
    padding: 8px;
    border-radius: 10px;
    transition: width 1s;
}

.res-logo>img{
    width: 100%;
    height: 50%;
}
.cuisine-class{
    overflow: hidden;
    overflow-wrap: break-word;
}
.res-logo:hover{
    border: 1px solid black;
    background-color: rgb(224, 222, 222);
    cursor: pointer;
    width: 240px;
}
.res-details>p{
    text-decoration-line: none;
    margin: 2px;
    padding: 1px;
}
.res-details>h4{
    margin: 1px;
    padding: 1px;
}

.shimmer-cards{
    display: flex;
    flex-wrap: wrap;
}
.shimmer-card{
    width: 240px;
    height: 320px;
    background-color: #f0f0f0;
    margin: 10px 15px 10px 0px;
}

.shimmer-search{
    margin: 10px 0px;
    width: 40%;
    height: 40px;
    background-color: #f0f0f0;
}
.shimmer-cardDetails1{
    margin: 10px 0px;
    width: 200px;
    height: 20px;
    background-color: #f0f0f0;
}
.shimmer-cardDetails2{
    margin: 10px 0px;
    width: 150px;
    height: 20px;
    background-color: #f0f0f0;
}
.spinner-img{
    margin-left: auto;
    margin-right: auto;
}

.login-btn{
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: medium;
}

.footer-container{
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    height: 1px;
    background: gray;
    /* margin-bottom: 20px; */
}

.toggle-btn{
    background-color: #f0f0f0;
    border-radius: 10px;
    font-weight: bold;
    padding: 3px;
    cursor: pointer;
    border: none;
    transition: 0.3s ease-in-out;
}

.veg{
    background-color: #38b000;
    color: white;
}

.both{
    background-color: #edede9;
}


.user-card{
    padding: 1px;
    border: 1px solid black;
}
